$desktop: 500px;

.squareImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media(min-width: $desktop) {
    .imageWrapper {
      width: 47%;
    }
  }
}

.gridImageContainer {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;

    .gridOne {
      width: 64%;
    }

    .gridTwo {
      width: 33%;

      img {
        margin-bottom: 13px;
      }

      img:nth-child(n + 2) {
        margin-top: 0;
      }
    }
  }
}


