$mainColor: #FFEB94;
$textColor: white;
$desktop: 500px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Montserrat, Helvetica;
  font-size: 14px;
  font-weight: 300;

  @media(min-width: $desktop) {
    font-size: 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  h1 {
    color: $mainColor;
    text-transform: uppercase;
  }

  img {
    margin: 17px 0;
    width: 100%;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin: 14px 0;
  }

  @media(min-width: $desktop) {
    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.main {
  height: 100%;
  overflow: scroll;
}

.childContainer {
  margin: 0 auto;
  max-width: 770px;
}

.footer {
  align-items: center;
  display: flex;
  flex-basis: 80px;
  justify-content: center;
}
