$mainColor: #FFEB94;
$textColor: white;
$desktop: 500px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: black;
  color: $textColor;
  font-family: Montserrat, Helvetica;
  font-size: 14px;
  font-weight: 300;

  @media(min-width: $desktop) {
    font-size: 20px;
  }
}

h1, h2 {
  color: $mainColor;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 44px;
  margin-bottom: 12px;

  @media(min-width: $desktop) {
    font-size: 100px;
  }
}

h2 {
  font-size: 26px;

  @media(min-width: $desktop) {
    font-size: 37px;
  }
}

a, a:visited {
  color: $textColor;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  margin-top: 124px;
  text-align: center;
}

.menuButton {
  color: $mainColor;
  cursor: pointer;
}

.headingMenuDisplay {
  margin: 10px 0 40px 0;
  text-align: center;

  li {
    padding: 10px 0;
  }

  @media (min-width: $desktop) {
    li {
      border-right: 1px solid white;
      display: inline-block;
      padding: 0;
      width: 120px;
    }

    li:last-child {
      border-right: 0;
    }

    /*display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 400px;*/
  }
}

.inlineText {
  display: inline;
  line-height: 22px;

  @media(min-width: $desktop) {
    line-height: 40px;
  }
}

.workMenuDisplay {
  margin: 0 0 40px 0;
  text-align: center;

  li {
    padding: 10px 0;
  }
}

.footer {
  text-align: center;
}
