$mainColor: #FFEB94;
$textColor: white;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: black;
  color: $textColor;
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 22.5px;
  font-weight: 300;
}

.nav {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.secondaryNav {
  display: flex;
  flex-direction: column;
}
