$mainColor: #FFEB94;

.hoverEffect {
  display: inline-block;
  position: relative;
}

.hoverEffect::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  color: $mainColor;
  overflow: hidden;
  max-width: 0;
  white-space: nowrap;

  content: attr(data-hover);
  border-bottom: 2px solid $mainColor;
  transition: max-width 0.5s;
}

.hoverEffect:hover::before {
  max-width: 100%;
}
