<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Helen Shiu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <% for (var index in htmlWebpackPlugin.files.js) { %>
      <% if (htmlWebpackPlugin.files.js[index].indexOf('home') !== -1 || htmlWebpackPlugin.files.js[index].indexOf('vendor') !== -1) { %>
        <link ref="preload" href="<%= htmlWebpackPlugin.files.js[index] %>" as="script">
      <% } %>
    <% } %>

    <% for (var index in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.files.css[index].indexOf('home') !== -1) { %>
        <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.css[index] %>">
      <% } %>
    <% } %>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.markup %>

    <% for (var index in htmlWebpackPlugin.files.js) { %>
      <% if (htmlWebpackPlugin.files.js[index].indexOf('home') !== -1 || htmlWebpackPlugin.files.js[index].indexOf('vendor') !== -1) { %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
      <% } %>
    <% } %>
  </body>
<html>
